<section class="hero container">
  <div class="row align-items-center">
    <div class="col-12 col-md-7">
      <h1 class="hero__title">
        Hola, soy <span class="hero__title--color">Lihue Leiva.</span>
      </h1>
      <p class="hero__subtitle">Desarrollador Web Angular</p>
      <p class="hero__description">
        Con experiencia en la creación de aplicaciones robustas y escalables. Apasionado por el código limpio y enfocado en aportar valor a equipos dinámicos.
      </p>
      <div class="hero__buttons">
        <a href="#projects" class="btn btn--primary">Ver Proyectos</a>
        <a href="/assets/cv-lihue-leiva.pdf" target="_blank" class="btn btn--secondary">Descargar CV</a>
      </div>
    </div>
    <div class="col-12 col-md-5">
      <div class="hero__image-container">
        </div>
    </div>
  </div>
</section>
