@use 'sass:color';
@use '../../variables' as styles;

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;

  &__title {
    font-size: 2.8rem;
    font-weight: 900;
    margin-bottom: 0.5rem;

    &--color {
      background: linear-gradient(90deg, #b1006a, #8200b3, #4a00b3, #b1006a);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      background-size: 200% auto;
      animation: gradient-animation 5s ease infinite;
    }
  }

  &__subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: styles.$light;
    margin-bottom: 1.5rem;
  }

  &__description {
    font-size: 1rem;
    color: color.adjust(styles.$light, $lightness: -20%);
    max-width: 600px;
    margin: 0 auto 2.5rem auto;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  &__image-container {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: styles.$secondary;
    margin: 0 auto;
    border: 5px solid styles.$secondary;
  }
}

.btn {
  padding: 0.75rem 2rem;
  border-radius: 50px;
  font-weight: 700;
  text-align: center;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 250px;

  &--primary {
    color: styles.$light;
    border: none;
    background: linear-gradient(90deg, #b1006a, #8200b3, #4a00b3, #b1006a);
    background-size: 200% auto;
    transition: background-position 0.5s ease;

    &:hover {
      background-position: 100% 0;
      transform: translateY(-3px);
    }
  }

  &--secondary {
    background-color: transparent;
    color: styles.$light;
    border: 2px solid styles.$secondary;

    &:hover {
      background-color: styles.$secondary;
      transform: translateY(-3px);
    }
  }
}

@media (min-width: 768px) {
  .hero {
    text-align: left;

    &__title {
      font-size: 4rem;
    }

    &__subtitle {
      font-size: 1.75rem;
    }

    &__description {
      font-size: 1.1rem;
      margin: 0 0 2.5rem 0;
    }

    &__buttons {
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 0;
    }

    &__image-container {
      width: 350px;
      height: 350px;
    }
  }

  .btn {
    width: auto;
  }
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}