<section id="projects" class="projects container">
  <h2 class="projects__title">Mis Proyectos</h2>

  @for (project of projects; track project.title; let i = $index) {
    <div class="project-card row align-items-center">
      <div class="col-12 col-lg-7" [class.order-lg-2]="i % 2 === 0">
        <div class="project-card__image-container">
          @for (image of project.images; track $index) {
            <img 
              [src]="image" 
              [alt]="'Captura de pantalla del proyecto ' + project.title"
              (click)="openLightbox(image)"
              [class.project-card__image--first]="$index === 0"
              [class.project-card__image--second]="$index === 1"
              class="project-card__image">
          }
        </div>
      </div>
      <div class="col-12 col-lg-5" [class.order-lg-1]="i % 2 === 0">
        <div class="project-card__content">
          <h3 class="project-card__title">{{ project.title }}</h3>
          <p class="project-card__description">{{ project.description }}</p>
          <div class="project-card__technologies">
            @for (tech of project.technologies; track tech) {
              <span>{{ tech }}</span>
            }
          </div>

        </div>
      </div>
    </div>
  }

  @if (selectedImage) {
    <div class="lightbox" [class.fade-out]="!selectedImage" (click)="closeLightbox()">
      <div class="lightbox__content" (click)="$event.stopPropagation()">
        <button class="lightbox__close" (click)="closeLightbox()">✕</button>
        <img [src]="selectedImage" [alt]="'Imagen ampliada'" class="lightbox__image">
      </div>
    </div>
  }
</section>
