@use '../../variables' as styles;

.certifications {
  padding-top: 6rem;
  padding-bottom: 6rem;
  border-top: 1px solid styles.$secondary;

  &__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 4rem;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      height: 4px;
      background: linear-gradient(90deg, #b1006a, #8200b3, #4a00b3, #b1006a);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
  }
}

.cert-item {
  position: relative; // Necesario para el nuevo hover
  display: block;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid transparent; // Borde transparente para evitar saltos
  transition: all 0.3s ease;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    inset: -2px;
    border-radius: inherit;
    background: linear-gradient(45deg, #b1006a, #8200b3, #4a00b3, #081fb6, #b1006a);
    background-size: 400% 400%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  &:hover {
    transform: translateY(-10px);

    &::before {
      opacity: 1;
      animation: fluid-gradient-animation 6s linear infinite;
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

@keyframes fluid-gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 100%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 0% 50%;
  }
}