@use "sass:color";
@use 'app/variables' as vars;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: vars.$dark;
  color: vars.$light;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: vars.$light;
}

a {
  color: vars.$primary;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    color: color.adjust(vars.$primary, $lightness: 10%);
  }
}